# Python
__pycache__/
*.pyc
.venv/
.env

# Airflow & Superset local state
airflow/logs/
superset/*
!superset/.gitkeep

# MkDocs build & node caches
site_build/
node_modules/

# Data artifacts
site/data/*
!site/data/.gitkeep

# OS
.DS_Store
Thumbs.db

# Docker volumes (if bind-mounted)
pgdata/

# dbt artefacts
dbt/target/
dbt/logs/
dbt/dbt_packages/

# airflow artefacts
airflow/dags/__pycache__/
